.web-page {
  gap: 0px;
  padding: 5px;
}
.introduce {
  gap: 5px;
  width: 1500px;
  text-align: center;
  position: relative;
}
.review {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: white;
  height: 100px;
  border: 1px solid black;
}
.review a {
  width: 175px;
  height: 100px;
  text-align: center;
  color: black;
  align-content: center;
}
i {
  color: skyblue;
}

.avatar {
  text-align: center;
  width: 350px;
  height: 100px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.avatar img {
  width: 150px;
  height: 200px;
  border: 5px solid white;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -50px;
}

.job-inf {
  display: flex;
  width: 100%;
}
.job {
  width: 50%;
  background-color: rgb(231, 231, 231);
  padding-left: 30px;
  height: 400px;
}
.information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(213, 211, 211);
  width: 50%;
  padding-left: 30px;
  height: 400px;
}
.list {
  display: flex;
  color: skyblue;
  margin: 0px;
  height: 50px;
  list-style-type: none;
  padding: 30px;
}

.list li {
  text-align: center;
  flex-direction: row;
  padding: 10px;
}

.inf-form {
  float: left;
  grid-column: 1 / span 2;
  line-height: 1.5;
  width: 310px;
  list-style-type: none;
}
.ly-lich {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: 1450px;
}
.ly-lich i {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: center;
  align-content: center;
  font-size: 40px;
  color: lightgray;
}
.ly-lich h3 {
  grid-row: 1 / 2;
  grid-column: 1 /2;
}
.exp {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  height: 400px;
  justify-self: center;
  margin: 50px;
}
.education {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  height: 400px;
  justify-self: center;
  margin: 50px;
}
.activity {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  justify-self: center;
  height: 400px;
  margin: 50px;
}
.skill {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  height: 250px;
  justify-self: center;
  margin: 50px;
}
.language {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  height: 250px;
  justify-self: center;
  margin: 50px;
}
.hobbies {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-style: solid;
  border-width: 1px 1px;
  width: 350px;
  height: 250px;
  justify-self: center;
  margin: 50px;
}
.links {
  display: inline-block;
  background-color: rgb(235, 233, 233);
  height: 50px;
  width: 1360px;
  align-content: center;
  padding: 20px;
}
.links a {
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: grey;
}

h3 {
  padding-left: 20px;
  width: 213px;
  grid-column-start: span 2;
  text-align: start;
  height: 50px;
}
h1 {
  width: 100%;
  height: 300px;
}
h2 {
  margin-top: 55px;
  padding-top: 30px;
  margin-bottom: 25px;
}
.top-name {
  margin: 0px;
  padding-top: 20px;

  position: absolute;
  left: 535px;
  top: 120px;
}
.top-job {
  margin-top: 5px;
  position: absolute;
  top: 200px;
  left: 670px;
}
.line1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: #199cdb;
  margin-left: 10px;

  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.skills {
  grid-row: 2 / 3;

  margin-top: 0px;

  width: 310px;
  grid-column: 1 / span 2;
}
.language-exp {
  margin-top: 0px;
  grid-column-start: 1 span 4;
  width: 310px;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}
.line2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: lightgrey;
  margin-left: 65px;

  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.line-score {
  display: grid;
  grid-row: 2 / 3;

  grid-template-rows: 20px;
  width: 350px;
  grid-column: 1 / span 2;
}
.line3 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: lightgrey;
  margin-left: 120px;

  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 10px;
  list-style-type: none;
  width: 330px;
  height: 100px;
  text-align: center;
  margin: 0px;
  grid-row: 2 / 3;
  grid-column: 1 / span 2;
}

.grid-list li {
  justify-self: center;
  padding: 5px;
}

.inf-person {
  line-height: 1.5;
  list-style-type: none;
}
i {
  padding: 5px;
}
.ic-strategy {
  background-color: white;
  border-radius: 50%;
  border: 2px solid skyblue;
  height: 30px;
  width: 30px;
}
.ic-hotairballoon {
  background-color: white;
  border-radius: 50%;
  border: 2px solid skyblue;
  height: 30px;
  width: 30px;
}
.ic-megaphone {
  background-color: white;
  border-radius: 50%;
  border: 2px solid skyblue;
  height: 30px;
  width: 30px;
}
.du-an {
  display: grid;
  grid-template-rows: 50px 450px 50px 55px 300px;
  grid-template-columns: 500px;
  padding: 20px;
}
.du-an img {
  width: 500px;
  height: 450px;
  border: 1px solid grey;
  margin-top: 30px;
  border-bottom: 0px;
}

.table {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  border: 1px solid grey;
  width: 500px;
  height: 250px;
}
.gioi-thieu {
  display: flex;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  height: 55px;
  text-align: center;
  width: 450px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;

  border: 1px solid grey;
}
.gioi-thieu i {
  color: black;
}
.cv {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 35px;
  width: 500px;
  text-align: start;
  padding-top: 15px;
  border: 1px solid grey;
}
.cu-the {
  display: block;
  float: left;
  list-style-type: none;
  width: 100px;
  margin-left: 5px;
  height: 50px;
}
.nam {
  background-color: skyblue;
  border-radius: 15px;
  width: 50px;
  height: 25px;
}
.cu-theform {
  padding-left: 100px;
  width: 400px;
  height: 50px;
  color: black;
}

.chung-chi img {
  float: left;
  margin: 20px;
  width: 250px;
  padding: 10px;
  height: 129px;
}
.chung-chi {
  width: 100%;
  height: 300px;
}
h4 {
  color: black;
  font-weight: bold;
}
.chung-chi li {
  color: lightgrey;
}
hr {
  margin: 0px;
}
footer .fa-facebook {
  color: black;
  border: 1px solid skyblue;
}
.web-page {
  font-size: 20px;
  font-style: normal;
  color: lightgrey;
}
.review {
  font-weight: bold;
  font-size: 15px;
}
.grid-list {
  font-size: 15px;
}
p {
  font-size: 17px;
}
li {
  font-size: 17px;
}
.introduce {
  font-size: 15px;
}
.top-name {
  font-size: 50px;
  color: lightgrey;
}
.review a {
  text-decoration: none;
}

.top-job {
  color: lightgrey;
}

i {
  font-size: 20px;
}

.cv,
.cu-the,
.cu-theform,
.gioi-thieu,
.skills {
  color: black;
}
footer i {
  font-size: 30px;
}
